{% extends 'core/base.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}
{% block content %}
<div class="container">
  <div style="padding-top:20px; text-align:center;">
    {% for portada in portada_list %}
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class=" display-4 text-dark">{{ portada.title }}</h1>
      <p class="text-light text-justify" style="margin: 15px">{{ portada.content|striptags }}</p>
    </div>

  </div>
  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      {% for examen in portada.examen.all %}
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">{{ examen.title }}</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">{{ examen.precio }}<small class="text-muted fw-light">$</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>{{ examen.content|striptags|safe|truncatechars:"100" }}</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Escribenos por Whatsapp</button>
          </div>
        </div>
      </div>
      {% endfor%}
    </div>
    {% endfor %}
</div>
{% endblock %}